@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: 'Karla';
  src:  url('../fonts/Karla/Karla-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
button:focus {
  outline: none;
}
input:focus {
  outline: none;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
::-webkit-scrollbar {
  width: 0px;
}

@media only screen and (orientation: portrait) {
  input[type="text"] {
    font-size: 1.4em;
  }
  textarea {
    font-size: 1.2em;
  }
}